[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
req_extensions     = req_ext
distinguished_name = dn

[ dn ]
CN = codeinspect.dev

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1   = codeinspect.dev
DNS.2   = backend.codeinspect.dev
DNS.3   = ws.codeinspect.dev
